services:
  - type: web
    name: codecrew-api
    runtime: node
    region: frankfurt
    plan: free
    buildCommand: cd ../.. && pnpm install && pnpm run build --filter=api
    startCommand: cd ../.. && pnpm run start --filter=api
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: DATABASE_URL
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
    healthCheckPath: /api/health
